/**
  * TODO: fix styling for BudgetGroupItems
**/
.group-item {
  width: 100%;
  column-gap: 0.5rem;
}
.group-item,
.group-item-column {
  display: flex;
  flex: 1;
}
.group-item-column {
  width: calc((95% - 0.5rem) / 3);
  flex-direction: column; /* stack the children */
}
.group-item > :first-child {
  flex: 0 1 50%;
}
.group-item-fields__label {
  visibility: hidden;
  height: 0;
}

.group-item-status__text {
  margin: 0 0 0 0.5rem;
}
.group-item-column:last-child {
  justify-content: flex-start;
}
.group-item-column:last-child > button {
  margin-left: auto;
}
.group-item-action {
  position: relative;
}
