.group-header {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  column-gap: 0.5rem;
}
.group-header h1,
.group-header h2,
.group-header h3,
.group-header h4,
.group-header h5 {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
}
.size1 {
  font-size: 1rem;
}
.size2 {
  font-size: 0.875rem;
}
.group-header-column {
  display: flex;
  /* width: calc((95% - 0.5rem) / 4); */
  justify-content: flex-end;
  font-size: 1rem;
  max-width: 50%;
}

.group-header-title button {
  margin-left: 1rem;
}

.group-header-column.group-header-title {
  align-items: center;
  flex: 0 1 50%;
  justify-content: flex-start;
}

.group-header-column.group-header-field-title {
  flex: 1 1 0%;
  font-size: 0.95rem;
  justify-content: flex-end;
  text-align: right;
}

.group-header-column:last-child {
  justify-content: flex-end;
  position: relative;
  width: 17.5px;
  flex: 0 0 17.5px;
}
