/**
  * TODO: fix styling for BudgetGroupItems
**/
.group-item {
  width: 100%;
  column-gap: 0.5rem;
}
.group-item,
.group-item-fields,
.group-item-status,
.group-item-action {
  display: flex;
  flex: 1;
}
.group-item > :first-child {
  flex: 0 1 50%;
}
.group-item-fields,
.group-item-status {
  flex-direction: column; /* stack the children */
  width: calc((95% - 0.5rem) / 3);
}
.group-item-status__header,
.group-item-status__text {
  margin: 0;
}
.group-item-action {
  align-items: flex-end;
  position: relative;
}
