.group-container,
.group-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.group-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  justify-content: left;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid red;
}

.group-content--hidden {
  display: none;
}
