.popover-menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-65%, 20%);
  list-style: none;
  background-color: var(--clr-surface-a20);
  border: 1px solid var(--clr-surface-a10);
  z-index: 1;
}
