section,
.hero-container,
.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  /* justify-content: left; */
  /* align-content: flex-start; */
  flex-wrap: wrap;
  width: 100%;
}
section {
  justify-items: center;
  align-items: center;
  padding: 1rem;
}

.hero-container,
.form {
  width: 100%;
  max-width: 450px;
}
.hero-container {
  border: 1px solid red;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.hero-container h2,
.hero-container h3 {
  font-size: 1rem;
  margin: 0;
}

.hero-container h2 > :first-child {
  font-weight: 500;
}

.hero-container h2 > :last-child {
  font-size: 2rem;
  font-weight: bold;
}

.hero-container > div {
  display: flex;
  margin-top: 1rem;
  width: 100%;
}

.hero-container > div > :first-child {
  margin: 0 0.5rem 0 0;
}
.hero-received-amount {
  margin-left: auto;
}
.hero-received-amount .amount > :last-child,
.hero-planned-amount .amount > :last-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.group-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  justify-content: left;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid red;
  margin-bottom: 1rem;
}
.group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.group-header h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.group-content {
  display: flex;
  flex-direction: column;
}

.group-content--hidden {
  display: none;
}

.group-item {
  display: flex;
}

.group-actions__button--red {
  color:#793733;
}
.group-actions__button--green{
  color:#397933;
}

.group-actions__button--bg-red {
  background-color: #793733;
}

.group-actions__button--bg-green {
  background-color: #397933;
}