section,
.hero-container,
.form  {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  /* justify-content: left; */
  /* align-content: flex-start; */
  flex-wrap: wrap;
  width: 100%;
}
section {
  justify-items: center;
  align-items: center;
  padding: 1rem;
}

.hero-container,
.form  {
  border: 1px solid red;
  border-radius: 0.5rem;
  padding: 1rem;
  min-width: 260px;
  width: 100%;
  max-width: 450px;
}

.hero-container h2,
.hero-container h3 {
  font-size: 1rem;
  margin: 0;
}

.hero-container h2 > :first-child {
  font-weight: 500;
}

.hero-container h2 > :last-child {
  font-size: 2rem;
  font-weight: bold;
}

.hero-container > div {
  display: flex;
  margin-top: 1rem;
  width: 100%;
}

.hero-container > div > :first-child {
  margin: 0 0.5rem 0 0;
}
.hero-received-amount {
  margin-left: auto;
}
.hero-received-amount .amount >:last-child,
.hero-planned-amount .amount >:last-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.group-item-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  width: 100%;
}
.progress {
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #e0e0e0;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
}