.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: auto auto auto 40px;
   */
  grid-auto-rows: auto;
  grid-gap: 8px;
  height: 100%;
}

.App > *:not(aside) {
  display: flex;
  flex-direction: column;
}

/* .App > header {
  flex-direction: row;
  justify-content: space-between;
} */
.form-control {
  /* styles for the form-control block */
}

.form-control--error {
  /* styles for form-control elements with the error modifier */
}

.form-control--disabled {
  /* styles for form-control elements with the disabled modifier */
}
