.App-header,
.App-footer,
.App-main {
  grid-column: 1 / -1;
}

.App-header h1{
  font-size: 1rem;
  margin: 0;
}
/* menu styles */
.menu {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  align-items:center;
  justify-items:center;
  padding-top:1rem;
}

.menu >:first-child {
  grid-column: 2 / 10;
  grid-row: 1 / 2;
  margin: 0;
}
.user-profile-container{
  grid-column: 1 / 2;
}
.budget-summary-container{
  grid-column: 10 / 11;
}
.menu >:last-child {
  grid-column: 12 / -1;
}

/* aside {
  display: none;
  grid-column: -2 / -1;
} */

.divider {
  border: 1px solid #000000;
  width: 100%;
  margin: 1rem 0 0;
}

.user-profile-container,
.budget-summary-container,
.budget-search-container {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.user-profile-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
